@use "common" as *;

.p-game {
    display: grid;
    grid-template-columns: minmax(10em, min-content) 1fr minmax(12em, min-content);
    grid-template-rows: auto 1fr;
    grid-auto-flow: column;
    grid-template-areas:
        "home progressbars title"
        "menu main stats";
    grid-gap: 0.3em;
    background-color: $color-canvas-default;
    min-height: 0;
    height: 100%;

    & > * {
        background-color: $color-canvas-inset;
        padding: $padding-container;
    }

    .s-home-button {
        grid-area: home;
        display: flex;
        justify-content: center;
        * {
            width: 100%;
        }
    }
    .s-progress-bars {
        grid-area: progressbars;
        min-height: 0;

        progress {
            width: 100%;
        }
        [data-health-bar] {
            display: block;
            &::-webkit-progress-bar {
                background-color: $color-health-bar-background-bg;
                border-radius: 2px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
            }
            &::-webkit-progress-value {
                background-color: $color-health-bar-foreground-bg;
                border-radius: 2px;
                transition: width 70ms linear;
            }
        }
        [data-mana-bar] {
            &::-webkit-progress-bar {
                background-color: $color-mana-bar-background-bg;
                border-radius: 2px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
            }
            &::-webkit-progress-value {
                background-color: $color-mana-bar-foreground-bg;
                border-radius: 2px;
                transition: width 70ms linear;
            }
        }
    }
    .s-title {
        display: flex;
        color: #d6a02c;
        grid-area: title;
        justify-content: center;
        align-items: center;
        text-align: center;
        // font-size: calc(1em - 0.15vw);
    }
    [data-main-view] {
        grid-area: main;
        display: grid;
        grid-column: 2;
        min-height: 0;
        .p-combat {
            ul {
                li {
                    display: block;
                    width: 100%;
                }
                progress {
                    display: block;
                    width: 100%;
                    height: 5px;
                }
            }
        }

        .p-skills {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 0.5fr;
            min-height: 0;
            flex: 1;
            .s-skill-slots {
                padding-bottom: $padding-container;
                padding-right: $padding-container;

                .s-skill-slot {
                    display: block;
                    width: 100%;

                    progress {
                        display: block;
                        width: 100%;
                        height: 5px;
                    }
                }

                .s-attack-skill-slot {
                    padding-bottom: $padding-container;
                    border-bottom: 1px solid $color-border-highlight;
                }
                ul {
                    margin-top: $padding-container;
                    min-height: 0;
                    li.s-skill-slot.selected {
                        pointer-events: all;
                        // &:hover{
                        //     background-color: $color-action-list-item-default-hover-bg;
                        // }
                    }
                }
            }
            .s-skill-info {
                display: flex;
                flex-direction: column;
                min-height: 0;
                padding-bottom: $padding-container;
                header {
                    display: flex;
                    padding-bottom: $padding-container;
                    text-align: center;
                    justify-content: space-between;
                    .title{
                        align-self: center;
                    }
                    [data-type]{
                        background-color: $color-global-button-accent-bg;
                        padding-left: 0.7em;
                        padding-right: 0.7em;
                        font-family: monospace;

                        &:hover{
                            background-color: $color-global-button-accent-hover-bg;
                        }
                        &:active {
                            background-color: $color-global-button-bg-active;
                        }
                    }
                }
                table {
                    border-collapse: separate;
                    border-spacing: $padding-container;
                    border-top: 1px solid $color-border-highlight;
                    border-bottom: 1px solid $color-border-highlight;
                    border-spacing: $padding-container;
                    td:last-child {
                        text-align: end;
                    }
                }
                .s-mods {
                    min-height: 0;
                    overflow-y: auto;
                    flex: 1;
                    text-align: center;
                    padding-top: $padding-container;
                }
                footer {
                    padding: $padding-container;
                    padding-top: 1em;
                    margin: auto;
                    width: 100%;
                    & > * {
                        display: block;
                        width: 100%;
                    }
                }
            }
            .s-skill-list {
                grid-column: 1/3;
                border-top: 1px solid $color-border-highlight;
                padding-top: $padding-container;
                min-height: 0;
                overflow-y: auto;
                ul {
                    min-height: 0;
                }
            }
        }

        .p-passives {
            display: grid;
            grid-template-rows: auto 1fr;
            min-height: 0;
            header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: $padding-container;
                border-bottom: 1px solid $color-border-highlight;
            }
            .s-passive-list {
                overflow-y: auto;
                table {
                    margin-top: $padding-container;
                    tr.selected {
                        pointer-events: all;
                        &:hover {
                            background-color: $color-action-list-item-default-selected-bg;
                        }
                    }
                    td:first-child {
                        width: 100%;
                    }
                    th,
                    td {
                        padding: $padding-list-item;
                    }

                    td:first-child {
                        text-align: left;
                    }
                    td:last-child {
                        text-align: right;
                        white-space: nowrap;
                    }
                }
            }
        }

        .p-items {
            position: relative;
            display: grid;
            grid-template-rows: 40% 60%;
            grid-template-columns: clamp(0.3fr, 0.4fr, 1fr) 1fr;
            min-height: 0;

            [data-item-list] {
                border-right: 1px solid $color-canvas-default;
                padding-right: $padding-container;
            }
            [data-mod-list] {
                text-align: center;
                padding: 1em;
                overflow-y: auto;
            }

            .s-craft-container {
                display: flex;
                flex-direction: column;
                border-top: 1px solid $color-canvas-default;
                padding-top: $padding-container;
                padding-left: $padding-container;
                [data-craft-list] {
                    flex: 1;
                    overflow-y: auto;
                    table {
                        border-collapse: collapse;
                        width: 100%;
                        text-align: left;
                        // border: 1px solid $color-scroll-container-border;
                        tr {
                            &:not(:last-child) {
                                border-bottom: 1px solid $color-scroll-container-border;
                            }
                            td {
                                padding: 0.3em;

                                &:last-child {
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
                [data-craft-button] {
                    align-self: center;
                    width: 8em;
                    text-align: center;
                    margin-top: 1em;
                }

                [data-craft-message] {
                    text-align: center;
                    color: rgb(148, 35, 35);
                    padding: 0.2em;

                    &::before {
                        content: "\2063";
                    }
                }
            }

            .s-preset-container {
                display: grid;
                grid-template-rows: auto 1fr;
                border-right: 1px solid $color-border-highlight;
                padding-right: $padding-container;
                border-top: 1px solid $color-canvas-default;
                padding-top: $padding-container;

                [data-preset-list] {
                    min-height: 0;
                    overflow-y: auto;
                }
            }

            [data-preset-modal] {
                form {
                    display: grid;
                    grid-template-rows: auto auto 1fr;
                    h2 {
                        text-align: center;
                    }
                    [data-craft-list] {
                        min-height: 0;
                        overflow-y: auto;

                        table {
                            border-collapse: collapse;

                            thead {
                                padding-bottom: $padding-container;
                            }
                            tbody {
                                border-top: 1px solid $color-fg-default;
                                margin-top: $padding-container;
                            }
                            tr {
                                &.selected {
                                    pointer-events: all;
                                }
                                td:first-child {
                                    text-align: left;
                                }
                                td {
                                    padding: $padding-list-item;
                                }
                            }
                        }
                    }

                    footer {
                        display: flex;
                        [data-delete] {
                            margin-left: auto;
                        }
                    }
                }
            }
        }

        .p-missions {
            min-height: 0;
            ul {
                flex-wrap: wrap;
                height: 100%;
                overflow-y: auto;
                li {
                    flex: 1;
                    padding: $padding-container;
                    display: flex;
                    align-items: center;
                    // white-space: break-spaces;
                    border: 1px solid grey;
                    border-top: 0;
                    &:first-child {
                        border-top: 1px solid grey;
                    }
                    [data-label] {
                        flex: 1;
                        display: flex;
                        white-space: break-spaces;
                    }

                    var {
                        display: flex;
                        color: $color-var-invalid-fg;
                        &[data-valid] {
                            color: $color-var-valid-fg;
                        }
                    }
                    button {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        min-width: 4em;
                    }
                }
            }
        }

        .p-achievements {
            display: grid;
            min-height: 0;
            ul {
                overflow-y: auto;
            }
            .g-accordion {
                .header {
                    padding: $padding-button;
                    margin-bottom: 1px;
                    var {
                        color: $color-var-invalid-fg;
                        &[data-valid] {
                            color: $color-var-valid-fg;
                        }
                    }
                }
                .content {
                    padding-left: 0.6em;
                }
            }
        }

        .p-statistics{
            min-height: 0;
            display: grid;
            ul{
                overflow-y: auto;
                li{
                    display: flex;
                    pointer-events: all;
                    border-bottom: 1px solid $color-border-highlight;
                    padding-top: 0.1em;
                    padding-bottom: 0.1em;
                    padding-left: $padding-list-item;
                    padding-right: $padding-list-item;
                    [data-label]{
                        flex: 1;
                    }
                    [data-stat]{
                        padding-left: 1em;
                    }
                }
            }
        }
    }
    .s-stats {
        grid-area: stats;
        display: flex;
        flex-direction: column;
        max-width: 15em;
        white-space: nowrap;
        li{
            padding: 0.1em;
            border-bottom: 1px solid $color-border-highlight;
        }
    }
}
