@use "variables" as *;

.g-alert-window {
    position: fixed;
    inset: 0;
    min-height: 0;
    top: 5em;
    bottom: 5em;
    z-index: 100;
    margin: auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    .s-content {
        background-color: $color-canvas-default;
        border: 1px solid $color-modal-border;
        min-height: 0;
        min-width: 30%;
        display: grid;
        padding: $padding-modal;
        header {
            padding-bottom: 1em;
            text-align: center;
        }
        [data-body] {
            white-space: normal;
            overflow-y: auto;
            min-height: 0;
            border-top: 1px solid $color-border-highlight;
            border-bottom: 1px solid $color-border-highlight;
            padding: $padding-container;
        }
        .s-buttons {
            display: grid;
            grid-auto-flow: column;
            gap: 0.1em;
            padding-top: 0.7em;
            button {
                min-width: 3em;
            }
        }
        footer {
            padding-top: $padding-container;
            small {
                display: block;
                font-size: 0.75em;
                color: $color-fg-muted;
            }
        }
    }

    .backdrop {
        position: fixed;
        inset: 0;
        z-index: -1;
        backdrop-filter: blur(1px);
    }
}

.g-modal {
    display: grid;
    position: fixed;
    margin: auto;
    background-color: $color-canvas-default;

    &:not([data-modal-type="relative"]) {
        & > .wrapper {
            padding: $padding-modal;
        }
    }

    & > .wrapper {
        display: grid;
        grid-template-rows: 1fr auto;
    }

    * {
        z-index: 10;
    }
    &::after {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // backdrop-filter: blur(0.8px);
        backdrop-filter: brightness(50%);
        background-color: transparent;
        z-index: 3;
    }
    section {
        z-index: 10;
    }

    footer {
        button[data-value] {
            min-width: 5em;
            background-color: $color-modal-cancel-bg;
        }
        button[data-value="apply"] {
            min-width: 5em;
            background-color: $color-modal-confirm-bg;
        }
    }
}

.g-accordion {
    position: relative;
    .header {
        display: flex;
        background-color: $color-accordion-header-bg;
        padding: $padding-list-item;
        margin-bottom: 1px;
        user-select: none;
        & > * {
            pointer-events: none;
            user-select: all;
        }
        &:hover {
            background-color: $color-accordion-hover-bg;
        }
        :first-child {
            flex: 1;
        }
        i:last-child::after {
            content: "\002B";
            position: absolute;
            right: 0.3em;
            color: $color-fg-default;
        }
        &[data-open] {
            i:last-child::after {
                content: "\2212";
            }
        }
        &[data-open] ~ .content {
            display: block;
            padding: $padding-container;
        }
    }
    .content {
        display: none;
    }
}

.g-toolbar {
    display: flex;
    li {
        color: $color-accent-fg;
    }
    div {
        display: inline-block;
    }
}

.g-button {
    display: inline-block;
    padding: $padding-button;
    color: #c9d1d9;
    &:hover {
        background-color: $color-action-list-item-default-hover-bg;
    }

    &:active {
        background-color: $color-global-button-bg-active;
    }

    &.selected {
        background-color: $color-action-list-item-default-selected-bg;
        pointer-events: all;
    }

    &[data-role="confirm"] {
        background-color: $color-button-confirm-bg;
        &:hover {
            background-color: $color-button-confirm-hover-bg;
        }
    }
    &[data-role="cancel"] {
        background-color: $color-button-cancel-bg;
        &:hover {
            background-color: $color-button-cancel-hover-bg;
        }
    }
}

.g-list-v,
.g-list-h {
    &.g-list-v {
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow-y: auto;
    }
    &.g-list-h {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
}

.g-list-item {
    padding: $padding-button;
    user-select: none;
    &.selected {
        background-color: $color-action-list-item-default-selected-bg;
    }
    &:hover {
        background-color: $color-action-list-item-default-hover-bg;
    }
}

.g-field {
    display: flex;

    & > :nth-child(1) {
        flex: 1;
        word-wrap: break-word;
    }
    & > :last-child {
        padding-left: 1em;
    }
}

.g-progress-bar-background {
    height: 1.5em;
    .g-progress-bar {
        height: 100%;
    }
}

.g-mod-desc {
    color: $color-modifier-accent;
}
.g-mod-desc-adv {
    color: #ddd7bb;
    font-size: 0.7em;
    line-height: 0.4em;
}

[data-insufficient-cost] {
    color: $color-var-invalid-fg;
}
[data-highlight-notification] {
    box-shadow: inset 3px 0 0 $color-highlight-border-bg !important;
    // border-left: 0.2em solid $color-highlight-border-bg !important;
}

.g-text-small {
    font-size: 0.8em;
}

.g-gold {
    color: $color-gold-fg;
}

.g-progress-bar {
    &.small {
        display: block;
        width: 100%;
        height: 5px;
    }
}
