@use "common" as *;

.p-home {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 0 auto;
    width: 70%;
    // height: 60%;
    background-color: $color-canvas-inset;
    padding: $padding-container;
    min-height: 0;
    @media screen and (max-height: 700px) {
        width: 100%;
        height: 100%;
        font-size: 1.2em;
    }
    menu {
        display: flex;
        background-color: $color-canvas-default;
    }
    .s-main {
        display: flex;

        .p-new,
        .p-saved {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;

            ul {
                padding-top: $padding-container;
                overflow-y: auto;
                height: 100%;
                min-height: 0;

                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            [data-entry-info] {
                display: grid;
                grid-template-rows: auto 1fr auto;
                text-align: center;
                padding-top: $padding-container;
                [data-title] {
                    padding: $padding-list-item;
                }
                [data-desc] {
                    padding: $padding-container;
                }
            }
        }
    }
}
