
$color-header-bg: #161b22;
$color-canvas-default: #0d1117;
$color-canvas-inset: #010409;
$color-border-highlight: #333333;
$color-accordion-header-bg: #ffffff0d;
$color-accordion-hover-bg: #ffffff1a;
$color-action-list-item-default-selected-bg: #ffffff1a;
$color-action-list-item-default-hover-bg: #ffffff0d;
$color-scroll-container-border: #2b2b2b;
$color-fg-default: #c9d1d9;
$color-fg-muted: #8b949e;
$color-accent-fg: #58a6ff;
$color-highlight-border-bg: #bd7044;
$color-var-invalid-fg: #eb8686;
$color-var-valid-fg: #54d354;

$color-modifier-accent: #8392bd;
$color-global-button-bg-active: #154183;
$color-global-button-accent-bg: #1f6feb;
$color-global-button-accent-disabled-bg: #1a51a3;
$color-global-button-accent-hover-bg: #1a51a3;

$color-skill-slot-progress-bg: #ffffff0d;

$color-health-bar-background-bg: #771111;
$color-health-bar-foreground-bg: #a12525;
$color-mana-bar-background-bg: #225c7e;
$color-mana-bar-foreground-bg: #307da1;
$color-mod-desc-fg: #a497eb;
$color-modal-confirm-bg: $color-global-button-accent-bg;
$color-modal-cancel-bg: #8f0d0d;
$color-modal-border: #545b64;

$color-button-confirm-bg: rgb(36, 129, 36);
$color-button-confirm-hover-bg: rgb(27, 110, 27);
$color-button-cancel-bg: #8f0d0d;
$color-button-cancel-hover-bg: #790b0b;

$color-scrollbar-thumb-background: rgba(110, 118, 129, 0.4);

$padding-container: 0.3em;
$padding-list-item: 0.3em;
$padding-button: 0.3em;
$padding-modal: 2em;

$color-gold-fg: rgb(209, 173, 75);


$color-progress-bar-bg: rgb(27, 112, 27);
$color-progress-bar-foreground-bg: rgb(57, 168, 57);

//mod tags
$color-mod-tag-physical: #a8a8a8;
$color-mod-tag-elemental: #72cac6;
$color-mod-tag-chaos: #9b72ca;
$color-mod-tag-critical: #509abd;
$color-mod-tag-mana: #3364ad;
$color-mod-tag-speed: #a5c748;