$color-header-bg: #161b22;
$color-canvas-default: #0d1117;
$color-canvas-inset: #010409;
$color-accordion-header-bg: #ffffff0d;
$color-accordion-hover-bg: #ffffff1a;
$color-action-list-item-default-selected-bg: #ffffff1a;
$color-action-list-item-default-hover-bg: #ffffff0d;
$color-scroll-container-border: #2b2b2b;
$color-fg-default: #c9d1d9;
$color-fg-muted: #8b949e;
$color-accent-fg: #58a6ff;
$color-highlight-border-bg: #bd7044;
$color-var-invalid-fg: #eb8686;
$color-var-valid-fg: #54d354;

$color-modifier-accent: #8392bd;
$color-global-button-accent-bg: #1f6feb;
$color-global-button-accent-disabled-bg: #1a51a3;

$color-skill-slot-progress-bg: #ffffff0d;

$color-health-bar-bg: #771111;
$color-health-bar-fg: #a12525;
$color-mana-bar-bg: #225c7e;
$color-mana-bar-fg: #307da1;
$color-mod-desc-fg: #a497eb;
$color-modal-confirm-bg: $color-global-button-accent-bg;
$color-modal-cancel-bg: #8f0d0d;
$color-modal-border: #545b64;

$color-scrollbar-thumb-background: rgba(110, 118, 129, 0.4);

$padding-container: 0.3em;
$padding-list-item: 0.3em;
$padding-button: 0.3em;
$padding-modal: 2em;

:root {
    font-size: 20px;
    font-family: serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: min(1em, 1.7vw);
    background-color: $color-canvas-default;
    color: $color-fg-default;
    margin: 0 auto;
    width: 80%;
}

@media only screen and (max-width: 1600px) {
    // :root {
    //     // font-size: 14px;
    // }
    body {
        margin: 0;
        width: 100vw;
    }
}

// @media only screen and (min-width: 1921px) {
//     body {
//         margin: 0 auto;
//         width: 70%;
//     }
// }

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

i,
var {
    font-style: normal;
    cursor: default;
}

h2 {
    margin: 0;
}

button {
    background-color: transparent;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

*.hidden {
    display: none !important;
}

[disabled] {
    pointer-events: none;
    filter: brightness(50%);

    &[data-highlight-notification]{
        pointer-events: all;
    }
}

ul,
menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

dialog {
    color: inherit;
}

dialog[data-modal] {
    background-color: $color-canvas-default;
    border: 1px solid $color-modal-border;
    padding: 0;
    height: clamp(60vh, 80vh, 95vh);
    border-radius: 0.3em;
    & > form {
        padding: $padding-modal;
        // max-height: 80vh;
        height: 100%;
        input[type="submit"] {
            min-width: 5em;
            &[value="Apply"] {
                background-color: $color-modal-confirm-bg;
            }
            &[value="Cancel"] {
                background-color: $color-modal-cancel-bg;
            }
        }
    }
    &::backdrop {
        backdrop-filter: blur(1px);
    }
}

input[type="text"] {
    display: block;
    width: 100%;
    outline: 0;
}
input[type="submit"] {
    border: 0;
    font-size: inherit;
}

/*#region Scroll Bar*/
::-webkit-scrollbar {
    width: 0.6em;
}
::-webkit-scrollbar-track {
    background: rgb(53, 53, 53);
}
::-webkit-scrollbar-thumb {
    background: rgb(102, 102, 102);
    border-left: rgb(53, 53, 53);
    border-right: rgb(53, 53, 53);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128);
}
::-webkit-scrollbar-thumb:active {
    background: rgb(153, 153, 153);
}
/*#endregion Scroll Bar*/

/*#region Global*/

.g-modal {
    display: grid;
    position: fixed;
    margin: auto;
    background-color: $color-canvas-default;

    &:not([data-modal-type="relative"]) {
        & > .wrapper {
            padding: $padding-modal;
        }
    }

    & > .wrapper {
        display: grid;
        grid-template-rows: 1fr auto;
    }

    &[data-modal-type="relative"] {
        position: absolute;
        margin: 0;
        padding: $padding-container;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    * {
        z-index: 10;
    }
    &::after {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // backdrop-filter: blur(0.8px);
        backdrop-filter: brightness(50%);
        background-color: transparent;
        z-index: 3;
    }
    section {
        z-index: 10;
    }

    footer {
        button[data-value]{
            min-width: 5em;
            background-color: $color-modal-cancel-bg;
        }
        button[data-value="apply"] {
            min-width: 5em;
            background-color: $color-modal-confirm-bg;
        }
    }
}

.g-accordion {
    position: relative;
    cursor: default;
    .header {
        display: flex;
        background-color: $color-accordion-header-bg;
        padding: $padding-list-item;
        cursor: default;
        user-select: none;
        &:hover {
            background-color: $color-accordion-hover-bg;
        }
        :first-child {
            flex: 1;
        }
        i:last-child::after {
            content: "\002B";
            position: absolute;
            right: 0.3em;
            color: $color-fg-default;
        }
        &[data-open] {
            i:last-child::after {
                content: "\2212";
            }
        }
        &[data-open] ~ .content {
            display: block;
            padding: $padding-container;
        }
    }
    .content {
        display: none;
    }
}

.g-toolbar {
    display: flex;
    li {
        color: $color-accent-fg;
    }
    div {
        display: inline-block;
    }
}

.g-button {
    display: inline-block;
    padding: $padding-button;
    cursor: default;
    user-select: none;
    border-radius: 3px;
    color: #c9d1d9;
    // background-color: #21262d;
    border-color: rgba(240, 246, 252, 0.1);
    &:hover {
        background-color: $color-action-list-item-default-hover-bg;
    }
    &[disabled] {
        pointer-events: none;
    }
}

.g-button-toggle {
    background: none;
    text-decoration: underline;
    text-decoration-color: red;
    &[enabled] {
        text-decoration-color: green;
    }
}

.g-list-v,
.g-list-h {
    &.g-list-v {
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow-y: auto;
    }
    &.g-list-h {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
}

.g-list-item {
    padding: $padding-button;
    cursor: default;
    user-select: none;
    &.selected {
        position: relative;
        background-color: $color-action-list-item-default-selected-bg;
    }
    &:hover {
        background-color: $color-action-list-item-default-hover-bg;
    }
}

.g-field {
    display: flex;

    & > :nth-child(1) {
        flex: 1;
        word-wrap: break-word;
        padding-right: 1em;
    }
}

.g-progress-bar-background {
    height: 1.5em;
    .g-progress-bar {
        height: 100%;
    }
}

.g-mod-desc {
    color: $color-modifier-accent;
}
.g-mod-desc-adv {
    color: #ddd7bb;
    font-size: 0.7em;
    line-height: 0.4em;
}

[data-insufficient-cost] {
    color: $color-var-invalid-fg;
}
[data-highlight-notification] {
    border-left: 0.2em solid $color-highlight-border-bg;
}
/*#endregion Global*/

body > header {
    font-size: 1.3em;
    text-align: center;
    grid-column: 1/4;
    background-color: #161b22;
    color: #d6a02c;
    padding: $padding-container;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

.p-game {
    display: grid;
    grid-template-columns: minmax(10em, auto) 1fr minmax(13em, auto);
    background-color: $color-canvas-inset;
    min-height: 0;

    $color-main-border: rgb(48, 48, 48);
    & > menu {
        border-right: 3px ridge $color-main-border;
    }
    & > .s-stats {
        border-left: 3px ridge $color-main-border;
    }

    & > menu,
    .s-middle,
    & > .s-stats {
        padding: $padding-container;
    }

    .s-middle {
        height: 100%;
        min-height: 0;
        display: grid;
        .p-combat {
            position: relative;
            display: grid;
            grid-template-rows: 1fr 1fr;

            .s-enemy {
                .s-health-bar-background {
                    background-color: $color-health-bar-bg;
                    .health-bar {
                        display: flex;
                        background-color: $color-health-bar-fg;
                        width: 100%;
                    }

                    .health-bar[data-damage]::after{
                        content: attr(data-damage);
                        margin: auto;
                    }
                }
            }

            .s-player {
                .s-mana-bar-background {
                    background-color: $color-mana-bar-bg;
                    .mana-bar {
                        background-color: $color-mana-bar-fg;
                        width: 45%;
                    }
                }
                .s-skills {
                    [data-skill-slot] {
                        display: flex;
                        cursor: default;
                        [data-label] {
                            padding: $padding-button;
                            text-align: left;
                        }

                        &[data-skill-slot="buff-skill"] {
                            [data-trigger] {
                                width: 100%;
                            }
                            & :first-child {
                                position: relative;
                                [data-progress-bar] {
                                    pointer-events: none;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: $color-skill-slot-progress-bg;
                                }
                            }
                        }
                    }
                }
            }

            .s-skill-modal {
                background-color: $color-canvas-default;

                section {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    ul {
                        text-align: left;

                        li{
                            pointer-events: all;
                        }
                    }
                    .s-skill-info {
                        [data-title] {
                            text-align: center;
                            font-size: 1.1em;
                        }
                        [data-mod-list] {
                            text-align: center;
                        }
                    }
                }
                footer {
                    margin-top: 1em;
                    .g-button {
                        min-width: 5em;
                    }

                    [data-value="remove"] {
                        background-color: $color-modal-confirm-bg;
                    }
                }
            }
        }

        .p-passives {
            header{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .p-items {
            position: relative;
            display: grid;
            grid-template-rows: 40% 60%;
            grid-template-columns: clamp(0.3fr, 0.4fr, 1fr) 1fr;
            min-height: 0;

            [data-mod-list] {
                text-align: center;
                padding: 1em;
                overflow-y: auto;
            }

            .s-craft-container {
                display: flex;
                flex-direction: column;
                ul {
                    flex: 1;
                    text-align: left;
                    border: 1px solid $color-scroll-container-border;
                }
                [data-craft-button] {
                    align-self: center;
                    width: 8em;
                    text-align: center;
                    background-color: $color-global-button-accent-bg;
                    margin-top: 1em;
                }
                [data-craft-message] {
                    text-align: center;
                    color: rgb(148, 35, 35);
                    padding: 0.2em;

                    &::before {
                        content: "\2063";
                    }
                }
            }

            [data-craft-preset-modal]{
                section{
                    display: grid;
                    grid-template-rows: auto auto 1fr;
                    h2{
                        text-align: center;
                    }
                    [data-craft-list]{
                        min-height: 0;
                        text-align: left;
                        overflow-y: auto;
                    }
                }
            }
        }

        .p-achievements {
            display: grid;
            min-height: 0;
            ul {
                overflow-y: auto;
            }
            .g-accordion {
                .header {
                    padding: $padding-button;
                    margin-bottom: 1px;
                    var {
                        color: $color-var-invalid-fg;
                        &[data-valid] {
                            color: $color-var-valid-fg;
                        }
                    }
                }
                .content {
                    padding-left: 0.6em;
                }
            }
        }
    }

    .s-stats {
        li > :last-child {
            padding-left: 1em;
        }
    }
}
