// @use "variables" as *;
@use "common" as *;

@forward "home";
@forward "game";
// @use "globals" as *;
// @forward "../game/game";

:root {
    font-size: 20px;
    font-family: serif;
}
body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: min(1em, 1.7vw);
    background-color: $color-canvas-default;
    color: $color-fg-default;
    margin: 0 auto;
    width: 80%;
}

@media only screen and (max-width: 1600px) {
    // :root {
    //     // font-size: 14px;
    // }
    body {
        margin: 0;
        width: 100vw;
    }
}

// @media only screen and (min-width: 1921px) {
//     body {
//         margin: 0 auto;
//         width: 70%;
//     }
// }

body > header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.3em;
    text-align: center;
    grid-column: 1/4;
    align-items: center;
    // background-color: #161b22;
    color: #d6a02c;
    padding: $padding-container;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}
